.gradient-custom {
    background: rgb(34,193,195);
    background: -moz-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1); 
}